PORT= 8000
MONGODB_URI=  mongodb+srv://wanivishvajit1234:your-password@cluster0.rlj95.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= fmewfpefpejfmeomeofmefmepomfomfpnfpmniwindwd1235t3213rfcc
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=cmdvmjpeockpocfkldcidsncn6ery79742749237498fiowe0
REFRESH_TOKEN_EXPIRY= 10d